<h1>Tweeter</h1>

<%= link_to "Post a Tweet", new_tweet_path %>
<br>
<%= form_tag root_path, method: :get do %>
  <%= text_field_tag :query, @query, placeholder: 'search' %>
  <%= submit_tag "Search" %>
<% end %>
<br>

<% @tweets.each do |tweet| %>
  <div>
        <%= truncate tweet.body, length: 80 %>
    <%= pluralize tweet.body.length, 'character' %>
    - <%= tweet.created_at %>
    by <strong><%= tweet.author %></strong>
    <%= link_to 'view more', tweet_path(tweet) %>
  </div>

<% end %>

